@import 'reset.css';

body {
  margin: 2rem 4rem;
  font-family: arial, sans-serif;
}

:root {
  --active-tab: #ef8269;
  --zone-strand: #efe8aa;
  --zone-terras: #ef8269;
  --zone-voortuin: #80d692;
  --zone-kantine: #8adbd2;
  --zone-box: #e0a4c7;
  --zone-markt: #88aeea;
  --button-style: {
    height: 5rem;
    width: 30rem;
    font-size: 1.8rem;
    background-color: white;
    border: 3px dotted #41cec3;
    color: #41cec3;
    padding-top: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}

.hidden {
  display: none;
}

@keyframes moveLeft {

  0% { transform: translateX(0); }

  50% { transform: translateX(-100rem); }

  100% { transform: translateX(0); }
}

@keyframes moveRight {

  0% { transform: translateX(0); }

  50% { transform: translateX(120rem); }

  100% { transform: translateX(0); }
}

.header {
  height: 100vh;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 20rem;

  &__item {
    text-decoration: none;
    color: black;
    transition: .2s ease;
    padding: 0 2rem;

    &:first-child a {
      padding-right: 10rem;
    }

    &:hover {
      color: var(--zone-kantine);
    }
  }
}

.active {
  color: var(--zone-kantine);
}

.header-text {
  padding: 3rem 2rem;

  &__title {
    display: flex;
    align-items: flex-end;

    &__edition {
      font-family: herejustnowout;
      font-size: 11rem;
    }
  }

  &__info, &__specifics {
    display: flex;
    justify-content: space-between;
  }

  &__slogan {
    font-size: 1.65rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__specifics {
    align-self: flex-end;
    width: 30rem;
  }

  &__date {
    font-family: herejustnowout;
    font-size: 4.5rem;
    text-transform: uppercase;
  }

  &__social-icons__icon {
    display: block;
    padding: .6rem 0;
  }
}

.header-img {
  position: relative;
  top: -18rem;
  left: center;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  z-index: -1;
  padding-left: 4rem;
}

.cloud {
  position: relative;
  width: 10vw;
  height: 11vh;
  z-index: -1;

  &__left {
    top: -104vh;
    left: 16vw;
    animation: moveRight 50s linear infinite;
  }

  &__right {
    top: -92.2vh;
    left: 70vw;
    animation: moveLeft 50s linear infinite;
  }
}

.section {
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;

  &__first {
    margin-top: 12rem;
  }

  &__second {
    align-items: center;
    padding-bottom: 20rem;
  }
}

.article {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 40rem;

  &__desc {
    padding-top: 1rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  &__intro {
    flex: 2;

    &__title {
      font-family: herejustnow;
      font-size: 3.7rem;
      text-transform: uppercase;
    }

    &__desc {
      width: 35rem;
    }

    &__img {
      left: -30rem;
      top: -13rem;
    }

    &__events {
      display: flex;
      flex-flow: column;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  &__newsletter {
    flex: 1;
    padding-top: 1.5rem;

    &__img {
      left: -25rem;
      top: -16rem;
    }
  }

  &__button {
    @apply --button-style;
  }

  &__start-event__title {
    font-family: herejustnow;
    font-size: 5rem;
    text-transform: uppercase;
  }

  &__img {
    position: relative;
    z-index: -1;
  }
}

.newsletter {
  display: flex;
  flex-flow: column;

  &__input {
    @apply --button-style;
    text-transform: lowercase;
    padding-left: 2rem;
    font-weight: normal;
    color: black;
    outline: none;
  }
}

.article__programme__img {
  left: 14rem;
  top: -8rem;
}

.article__dokbewoner__img {
  left: 20rem;
}

.first-events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70rem;
}

.event {
  display: flex;
  width: 30%;

  &__info {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: black;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__img {
    margin-top: 1rem;
  }

  &__specifics {
    padding: 1rem 2rem;
  }

  &__time {
    display: flex;
    align-items: center;

    & p {
      padding: 1rem;
      font-size: 1.8rem;
    }
  }

  &__start {
    font-family: herejustnow;
    font-size: 2.7rem;

    &__detail {
      font-family: arial;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

.time__separator {
  padding: 1rem 2rem;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;

  &__sponsor {
    width: 10rem;
    height: auto;
    padding: 0 1rem;
    filter: grayscale(100%);
  }
}

/*____PROGRAMMA___*/

.page {

  &__header {
    margin: 2rem 4rem;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-family: herejustnowout;
    font-size: 4.4rem;
    text-transform: uppercase;
  }

  &__desc {
    line-height: 2.6rem;
    margin-top: 1rem;
    width: 50vw;
    font-size: 1.9rem;
  }
}

.selectors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5.6rem;
  line-height: 2.2rem;
}

.selector {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__desc {
    width: 28vw;
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }

  &__title {
    font-family: herejustnow;
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  &__form {
    padding-top: 2rem;
  }

  &__item {
    background: transparent;
    appearance: none;
    border: none;
    font-size: 1.6rem;
    padding-top: .5rem;
    padding-right: 5rem;
    z-index: 99;
    outline: none;
  }

  &__style {
    border: .27rem solid black;
    padding: 1rem 0;
    padding-left: 3rem;
    padding-right: 2rem;
    background: white;
    height: 4rem;
    display: flex;
    align-items: flex-end;
  }

  &__img {
    margin-left: -3rem;
    order: 2;
  }

  &__option {
    border: .27rem solid black;
    padding: 1rem 0;
    padding-left: 3rem;
    padding-right: 2rem;
    background: white;
    background-size: 3rem;
    transform: translateY(3rem);
  }
}

.dropdown {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  margin-top: 10rem;

  &-arrow {
    margin-top: -9rem;
    margin-bottom: 2rem;
    transform: translateY(11rem);
    transition: .3s ease;
    visibility: visible;
  }
}

.zones {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  position: relative;
  transform: translateY(-152.2rem);
  transition: .3s ease;
  height: 73vh;
  overflow: scroll;
  visibility: hidden;
  z-index: 1000;
}

.submit {
  padding: 1rem 1.5rem;
  transition: .2s ease;
  outline: none;

  &:hover {
    transform: scale(1.1);
  }
}

.tags__form {
  padding-top: 2.4rem;
}

.date__form {
  display: flex;
  justify-content: space-between;
  width: 32rem;
  margin-top: .4rem;
}

.regulars {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 45rem;
  margin: auto;

  &__vast {
    position: relative;
    top: 7rem;
    left: -40rem;
    font-family: herejustnowout;
    text-transform: uppercase;
    font-size: 4rem;
  }
}

.regular {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25rem;

  &__text {
    position: absolute;
    color: white;
    width: 20rem;
  }

  &__event {
    font-size: 1.8rem;
    padding: .7rem 0;
  }

  &__day {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__time {
    font-size: 1.8rem;
  }

  &__img {
    position: absolute;
    z-index: -1;
  }

  &__markt, &__koffie, &__cosy {
    justify-content: center;
  }

  &__markt {
    align-self: flex-end;
    top: 2rem;
    left: -3rem;

    & .regular__text {
      top: -5rem;
    }
  }

  &__koffie {
    left: -32rem;

    & .regular__text {
      top: -5rem;
      left: -6rem;
    }
  }

  &__cosy {
    left: 12rem;

    & .regular__text {
      top: -6rem;
      left: -13rem;
    }
  }
}

.events {
  padding-top: 25rem;
  display: flex;
  justify-content: center;

  &__month {
    display: flex;
    width: 85vw;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-bottom: 5rem;

    &__event {
      width: 35rem;
      height: 12rem;
      margin: 1rem 2rem;
      background-color: white;
      transition: .3s ease;
    }
  }

  &__event {
    width: 35rem;
    height: 12rem;
    margin: 1rem 3rem;
    background-color: white;
    transition: .3s ease;
  }
}

.DOKTerras {
  border-right: 1rem solid var(--zone-terras);

  &:hover {
    background-color: var(--zone-terras);
  }

  &__detail {
    color: var(--zone-terras);
  }
}

.DOKStrand {
  border-right: 1rem solid var(--zone-strand);

  &:hover {
    background-color: var(--zone-strand);
  }

  &__detail {
    color: var(--zone-strand);
  }
}

.DOKVoortuin {
  border-right: 1rem solid var(--zone-voortuin);

  &:hover {
    background-color: var(--zone-voortuin);
  }

  &__detail {
    color: var(--zone-voortuin);
  }

  & .DOKKantine {
    border-right: 2rem solid var(--zone-kantine);
  }
}

.DOKKantine {
  border-right: 1rem solid var(--zone-kantine);

  &:hover {
    background-color: var(--zone-kantine);
  }

  &__detail {
    color: var(--zone-kantine);
  }

  & .DOKVoortuin {
    border-right: 2rem solid var(--zone-voortuin);
  }
}

.DOKBox {
  border-right: 1rem solid var(--zone-box);

  &:hover {
    background-color: var(--zone-box);
  }

  &__detail {
    color: var(--zone-box);
  }
}

.DOKMarkt {
  border-right: 1rem solid var(--zone-markt);

  &:hover {
    background-color: var(--zone-markt);
  }

  &__detail {
    color: var(--zone-markt);
  }
}

.mai__first {
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.submit__button {
  background: transparent;
  border: none;
}

/*---DETAIL---*/

.detail {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 3rem;

  &__title {
    font-family: herejustnow;
    font-size: 3rem;
  }

  &__specifics {
    text-transform: uppercase;
    font-family: herejustnow;
    font-size: 2.5rem;
    padding-top: 3rem;

    &__content {
      font-family: arial;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  &__info {
    padding-left: 5rem;
    padding-top: 3rem;

    &__desc {
      width: 40vw;
      line-height: 2rem;
      font-size: 1.6rem;
      padding-top: 4rem;
    }

    &__basic {
      padding: 0 2rem;
    }
  }

  &__where-when {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 20vw;
  }

  &__time {
    display: flex;
  }

  &__img {
    margin-top: 10rem;
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.separator {
  padding: 0 1rem;
}

.clip__1 {
  transform: scale(.8);
  width: 30rem;
  clip-path: url(#clippath__1);
  position: relative;
  left: -5rem;
}

.clip__2 {
  transform: scale(.7);
  margin-left: 2rem;
  clip-path: url(#clippath__2);
}

@media (width <= 1315px) {

  .article {
    flex-flow: row;
  }

  .cloud__right {
    top: -95vh;
  }

  .cloud__left {
    top: -20vh;
  }

}

@media (width <= 1360px) {

  .header-text__specifics {
    width: 30rem;
  }

}
