@import 'reset.css';

body {
  margin: 2rem 4rem;
  font-family: arial, sans-serif;
}

:root {
  --active-tab: #ef8269;
  --button-style: {
    height: 5rem;
    width: 30rem;
    font-size: 1.8rem;
    background-color: white;
    border: 3px dotted #41cec3;
    color: #41cec3;
    padding-top: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}

.hidden {
  display: none;
}

@keyframes moveLeft {

  0% { transform: translateX(0); }

  50% { transform: translateX(-110rem); }

  100% { transform: translateX(0); }
}

@keyframes moveRight {

  0% { transform: translateX(0); }

  50% { transform: translateX(120rem); }

  100% { transform: translateX(0); }
}

.header {
  height: 100vh;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 20rem;

  &__item {
    text-decoration: none;
    color: black;
    transition: .2s ease;
    padding: 1rem 2rem;

    &:first-child a {
      padding-right: 10rem;
    }

    &:hover {
      color: var(--active-tab);
    }
  }
}

.active {
  color: var(--active-tab);
}

.header-text {
  padding-top: 3rem;

  &__title {
    display: flex;
    align-items: flex-end;

    &__edition {
      font-family: HereJustNow-Out;
      font-size: 11rem;
    }
  }

  &__info, &__specifics {
    display: flex;
    justify-content: space-between;
  }

  &__slogan {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__specifics {
    align-self: flex-end;
    width: 40rem;
  }

  &__date {
    font-family: HereJustNow-Out;
    font-size: 5rem;
    text-transform: uppercase;
  }

  &__social-icons__icon {
    display: block;
    padding: .6rem 0;
  }
}

.header-img {
  position: relative;
  top: -19rem;
  left: center;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  z-index: -1;
  padding-left: 4rem;
}

.cloud {
  position: relative;
  width: 10vw;
  height: 11vh;
  z-index: -1;

  &__left {
    top: -100vh;
    left: 16vw;
    animation: moveRight 40s linear infinite;
  }

  &__right {
    top: -88.2vh;
    left: 70vw;
    animation: moveLeft 40s linear infinite;
  }
}

.section {
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;

  &__first {
    margin-top: 15rem;
  }

  &__second {
    align-items: center;
    padding-bottom: 20rem;
  }
}

.article {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 40rem;

  &__desc {
    padding-top: 1rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  &__intro {
    flex: 2;

    &__title {
      font-family: HereJustNow;
      font-size: 4rem;
      text-transform: uppercase;
    }

    &__desc {
      width: 35rem;
    }

    &__img {
      left: -30rem;
      top: -13rem;
    }

    &__events {
      display: flex;
      flex-flow: column;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  &__newsletter {
    flex: 1;

    &__img {
      left: -31rem;
      top: -20rem;
    }
  }

  &__button {
    @apply --button-style;
  }

  &__start-event__title {
    font-family: HereJustNow;
    font-size: 5rem;
    text-transform: uppercase;
  }

  &__img {
    position: relative;
    z-index: -1;
  }
}

.newsletter {
  display: flex;
  flex-flow: column;
  padding-top: 1.5rem;

  &__input {
    @apply --button-style;
    text-transform: lowercase;
    padding-left: 2rem;
    font-weight: normal;
    color: black;
  }
}

.article__programme__img {
  left: 14rem;
  top: -8rem;
}

.article__dokbewoner__img {
  left: 20rem;
}

.first-events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70rem;
}

.event {
  display: flex;
  width: 50%;

  &__info {
    display: flex;
    align-items: flex-start;
  }

  &__specifics {
    padding: 1rem 2rem;
  }

  &__time {
    display: flex;
    align-items: center;

    & p {
      padding: 1rem;
      font-size: 1.8rem;
    }
  }

  &__start {
    font-family: HereJustNow;
    font-size: 3rem;
  }
}

.time__separator {
  padding: 1rem 2rem;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;

  &__sponsor {
    width: 10rem;
    height: auto;
    padding: 0 1rem;
    filter: grayscale(100%);
  }
}

/*____PROGRAMMA___*/

.page {

  &__header {
    margin: 2rem 4rem;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-family: HereJustNow-Out;
    font-size: 5.2rem;
    text-transform: uppercase;
  }

  &__desc {
    line-height: 2.6rem;
    margin-top: 1rem;
    width: 50vw;
    font-size: 2.2rem;
  }
}

.selectors {
  display: flex;
  justify-content: space-around;
  margin-top: 5.6rem;
  line-height: 2.6rem;
}

.selector {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__desc {
    width: 28vw;
    font-size: 2.2rem;
    margin-top: 1.5rem;
  }

  &__title {
    font-family: HereJustNow;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__form {
    padding-top: 2rem;
  }

  &__item {
    background: none;
    appearance: none;
    border-radius: none;
    border: none;
    font-size: 1.8rem;
    padding-top: .4rem;
  }
}

.dropdown {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  margin-top: 12rem;

  &-arrow {
    margin-top: -9rem;
    transform: translateY(12rem);
    transition: .3s ease;
    visibility: visible;
  }
}

.zones {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  position: relative;
  transform: translateY(-152.2rem);
  transition: .3s ease;
  height: 73vh;
  overflow: scroll;
  visibility: hidden;
  z-index: 1000;
}

.zone {
  padding: 2rem 3rem;
  transition: .2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.select-style {
  border: .27rem solid black;
  padding: 1rem 3rem;
  background: white;
  background-size: 3rem;
}

.tags__form {
  padding-top: 2.4rem;
}

.date__form {
  display: flex;
  justify-content: space-between;
  width: 24rem;
  margin-top: .4rem;
}

.regulars {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 45rem;
  margin: auto;

  &__vast {
    position: relative;
    top: 7rem;
    left: -55rem;
    font-family: HereJustNow-Out;
    text-transform: uppercase;
    font-size: 4rem;
  }
}

.regular {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25rem;

  &__text {
    position: absolute;
    color: white;
    width: 20rem;
  }

  &__event {
    font-size: 2rem;
    padding: .7rem 0;
  }

  &__day {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__time {
    font-size: 2rem;
  }

  &__img {
    position: absolute;
    z-index: -1;
  }

  &__markt, &__koffie, &__cosy {
    justify-content: center;
  }

  &__markt {
    align-self: flex-end;
    top: 5rem;
    left: -3rem;

    & .regular__text {
      top: -5rem;
    }
  }

  &__koffie {
    left: -40rem;

    & .regular__text {
      top: -6rem;
      left: -6rem;
    }
  }

  &__cosy {
    left: 15rem;

    & .regular__text {
      top: -7rem;
      left: -12rem;
    }
  }
}

.events {
  padding-top: 27rem;
  display: flex;
  justify-content: space-around;

  &__month {
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-top: 1rem;

    &__event {
      width: 40rem;
      margin-top: 1.5rem;
    }
  }
}

@media (width <= 1315px) {

  .article {
    flex-flow: row;
  }

  .cloud__right {
    top: -95vh;
  }

  .cloud__left {
    top: -20vh;
  }

}

@media (width <= 1360px) {

  .header-text__specifics {
    width: 30rem;
  }

}
